@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding: 0px;
}
h1{
	font-family: Monkeg, "Garamond Premr Pro";
	color: whitesmoke;
	font-size:90px;
	justify-content: center;
}

h2{
	font-family: "Garamond Premr Pro";
	font-style: italic;
	font-size: 25px;
	color:whitesmoke;
}
h3 {
	font-family: "Garamond Premr Pro";
	font-style: italic;
	color: whitesmoke;
}

body {
	
	padding: 40px;
	margin: 70px; 
	background-color: #A5D4E5;
	border-bottom-left-radius: 5px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
}
	
header {
	max-width:1400px;
	height:350px;
	background-color:#032B24;
	border-width:15px;
	border-radius:20px;
	margin: 0px;
	padding: inherit;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
	
img {
	float: right;
	vertical-align:top;
	align-content:space-between;
	right: inherit;
}
	
.section1, .section2, .section3, .section5 {
	padding: 40px; 
	margin: 20px; 
	border-radius: 20px;
	width: 290px; 
	background-color: #005F7A;
}
.columna1 {
	display: flex;
	flex-direction: row;
}

.columna2{
	display: flex;
	flex-direction: row;
}

.flex-item{
	display: contents;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
p {
	text-indent: 30px;
}

a{
	text-decoration: none;
	color: black;
}
footer {
	background-color: #032B24;
	width:auto;
	heigh:auto;
}