@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding: 0px;
}
h1{
	font-family: Monkeg, "Garamond Premr Pro";
	color: whitesmoke;
	font-site:200px;}

h3 {color: indigo}

.header {
	width:auto;
	heigh:auto;
	background-color:#032B24;
	border-width:15px;
	border-radius:20px;
	margin: 0px;}
	
.boton-contacto {
	width: 250px;
	heigh:60px;
	background-color: #146AA3;
	border-bottom-left-radius: 5px;
}

.caja2 {
	width: auto;
	heigh: auto;
	background-color:#84D6E3;
	display: flex;
	
}